<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h1 class=" font-bold text-3xl py-5">Mera SocialMedia</h1>
        <a href="/user/view/<%=user.username%>" class="text-blue-500 font-bold">return to profile page</a>
        <h1 class="font-bold text-2xl py-3 text-center">Edit Profile</h1>
        <form action="/user/update" class="w-full flex flex-col items-center gap-2 " method="post" enctype="multipart/form-data">
            <div class="newPic flex ">
                <label for="uploadedImage" class="cursor-pointer">
                    <div class="flex">
                        <img src="/images/uploads/<%=user.profilepic%>" alt="" class="w-20 h-20 rounded-full" id="profilepic">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </label>
                <input type="file" id="uploadedImage" name="image" hidden accept="image/*">
            </div>
            <input class=" w-1/2 px-3 py-2 outline-none bg-transparent border -2 border-zinc-800 rounded-lg "  type="text" placeholder="Name" name = "name" value="<%=user.name%>">
            <input class=" w-1/2 px-3 py-2 outline-none bg-transparent border -2 border-zinc-800 rounded-lg " type="text" placeholder="Username" name = "username" value="<%=user.username%>">
            <input class=" w-1/2 px-3 py-2 outline-none bg-transparent border -2 border-zinc-800 rounded-lg "  type="text" placeholder="email" name = "email" value="<%=user.email%>">
            <input class=" w-1/2 px-3 py-2 outline-none bg-transparent border -2 border-zinc-800 rounded-lg "  type="text" placeholder="age" name = "age" value="<%=user.age%>">
            <input class=" w-96 px-3 py-2 my-3 outline-none  border -2 border-zinc-800 bg-blue-700 rounded-lg font-bold"  type="submit" value="Update Profile">
        </form>
    </div>
    <script src="/javascripts/editProfile.js"></script>
</body>
</html>