<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dekrof</title>
     <%- include('./partials/headerlinks')%>
</head>
<body class="bg-zinc-900 text-white">
    <div class="w-full min-h-screen bg-zinc-900  text-white mt-5">
        <div class="flex justify-between mx-10">
            <div>
                <a href="/home" class=" text-blue-400">return to home page</a>
            </div>
            <div>
                <a href="/auth/logout" class="text-red-500">logout</a>
            </div>
        </div>
        <div class="alluserinfo flex gap-10 ml-10 mt-5">
            <div class="profile w-20 h-20 rounded-full">
                <img class="w-full h-full rounded-full object-cover" src="<%= user.profilepic.url || 'https://res.cloudinary.com/dafdap5cr/image/upload/q_auto/f_auto/v1781797010/defalut_wc1tfy.webp' %>" alt="">
            </div>
            <div class="userInfo">
                <h1 class="font-bold username text-2xl"><%=user.username%></h1>
                <h1 class="font-bold  "><%=user.name%></h1>
                <div class="flex gap-2">
                    <div class=" flex gap-2">
                        <p class="postCount font-bold"><%=user.postCount%></p>
                        <p> posts</p>
                    </div>
                    <div class=" flex gap-2">
                        <p class="font-bold followersCount"><%=user.followerCount%></p>
                        <a href="/user/followers/<%=user.username%>">followers</a>
                    </div>
                    <div class=" flex gap-2">
                        <p class="font-bold followingCount"><%=user.followingCount%></p>
                        <a href="/user/following/<%=user.username%>">following</a>
                    </div>
                </div>
            </div>
       </div>

       <div class="biosection mt-2 ml-10">
            <p class="whitespace-pre-line">
                <%=user.bio%>
            </p>
        </div>
        
        <%if(user.username === curruser.username){%>
        
        <div class="otheroptions flex mt-3 gap-4 ml-10">
            <div class="edit  text-white rounded-md bg-zinc-700 px-10 py-2 font-bold">
                <a href="/user/edit">Edit Profile</a>
            </div>
            <div class="createPost text-white rounded-md bg-zinc-700 px-10 py-2 font-bold">
                <button class="font-bold createPostBtn">Create Post</button>
            </div>
        </div>
            
            <%-include('./partials/createPostform')%>

            <%}else{%>
            <div class="otheroptions flex mt-3 gap-4 ml-10">
                    <div class="edit  text-white rounded-md bg-zinc-700 px-10 py-2 font-bold">
                        <button class="followToggle">
                            <%if(isFollowing){%>
                            following
                            <%}else{%>
                            follow
                            <%}%>
                        </button>
                    </div>
                    <div class=" text-white rounded-md bg-zinc-700 px-10 py-2 font-bold">
                        <a class="font-bold chatwithuser " href="/messages/<%=user.username%>">message</a>
                    </div>
            </div>
            <%}%>

            <h1 class="text-center font-bold text-2xl mt-10 border-t-2 border-zinc-700 py-3 ">Posts</h1>
             <div class="max-w-2xl mx-auto py-8 px-4 allposthere"></div>
            <div id="userPostsLoder" data-user-id ='<%=user._id%>'></div>
        </div>
    </div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/profile.js"></script>
</body>
</html>